@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Condensed&display=swap');

:root {
  --primary: #232F3E;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: #212121;
  text-decoration: none;
  font-weight: bold;
}

.centering {
  margin-top: 3rem;
  margin-bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* NAVIGATION */
header {
  background: #212121;
  height: 79px;
  justify-content: space-between;
}

header h1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.75rem;
  font-family:'PT Sans', Helvetica, Arial, sans-serif;
  letter-spacing: .2rem;
}

header a {
  color: #fff;
}

nav {
  position: relative;
  margin-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
  font-family:'PT Sans', Helvetica, Arial, sans-serif;
  justify-content: space-around;
  font-size: medium;
  padding: 0 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #212121;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.ulmove {
  padding-left: 0;
}

.linone {
  list-style-type: none;
  list-style-position: outside;
}

.namesize {
  font-size: 1.25rem;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: rgb(0 0 0 / 29%);
}

.buttonsizing {
  width: 8rem;
  height: 5rem;
  border: #212121 solid 1px;
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

/* PRODUCTS LIST */
img {
  max-width: 100%;
  max-height: 100%;
  width: 393px;
  height: 300px;
  object-fit: cover;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 26%;
  text-align: center;
  margin-left: auto;
  margin-bottom: 2rem;
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}